<p><%= t('mailer.greeting') %></p>

<p><%= t('mailer.password_reset.body', email: @user.email).html_safe %></p>

<p><%= link_to t('mailer.password_reset.button'), edit_identity_password_reset_url(sid: @signed_id), class: "email-button" %></p>

<p class="text-muted"><%= t('mailer.password_reset.ignore') %></p>
